body {
  background: #091c29;
  color: #fff;
}
.wrapper {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
}
.navbar {
  width: 90vw;
  max-height: 2rem;
  background: #000;
  padding-bottom: 1rem;
}
.nav-elements {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  color: #fff;
}
.nav-elements li {
  border-radius: 15px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  width: 2.5rem;
  transition: width 1.5s;
  font-size: 1.5rem;
}

.nav-elements li:hover {
  /* padding-right: 2rem; */
  background: #6784e9;
  width: 4rem;
}

/* Home */
.home {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  margin-top: 3rem;
}

.intro-text {
  width: 40%;
  /* background: red; */
}

.text {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 3rem;
  font-size: 2.5rem;
}

.profile-img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}
.intro-image {
  width: 50%;
  height: 100%;
  /* display: flex;
  justify-content: flex-start; */
  /* background: green; */
  padding-bottom: 20rem;
}

.home-img {
  transform: scaleX(-1);
  height: 90vh;
  width: 50%;
}

span {
  color: #6784e9;
}

.hire-me {
  width: 5rem;
  padding: 0.5rem;
  border-radius: 10px;
  margin-top: 10px;
  background: #f5892b;
  color: #fff;
}

/* Education */

.experience {
  position: relative;
  padding: 45px 0 15px 0;
}

.experience .timeline {
  position: relative;
  width: 100%;
}

.experience .timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #6784e9;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.experience .timeline .timeline-item {
  position: relative;
  background: inherit;
  width: 50%;
  margin-bottom: 30px;
}

.experience .timeline .timeline-item.left {
  left: 0;
  padding-right: 30px;
}

.experience .timeline .timeline-item.right {
  left: 50%;
  padding-left: 30px;
}

.experience .timeline .timeline-item::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 48px;
  right: -8px;
  background: #6784e9;
  border: 2px solid #6784e9;
  border-radius: 16px;
  z-index: 1;
}

.experience .timeline .timeline-item.right::after {
  left: -8px;
}

.experience .timeline .timeline-item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 46px;
  right: 10px;
  z-index: 1;
  border: 10px solid;
  border-color: transparent transparent transparent #6784e9;
}

.experience .timeline .timeline-item.right::before {
  left: 10px;
  border-color: transparent #f5892b transparent transparent;
}

.experience .timeline .timeline-date {
  position: absolute;
  width: 100%;
  top: 44px;
  font-size: 16px;
  font-weight: 600;
  color: #6784e9;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.experience .timeline .timeline-item.left .timeline-date {
  text-align: left;
  left: calc(100% + 55px);
}

.experience .timeline .timeline-item.right .timeline-date {
  text-align: right;
  right: calc(100% + 55px);
}

.experience .timeline .timeline-text {
  padding: 30px;
  border: 1px solid #f5892b;
  position: relative;
  border-right: 5px solid #f5892b;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.08);
}

.experience .timeline .timeline-item.right .timeline-text {
  border-right: 1px solid #f5892b;
  border-left: 5px solid #f5892b;
}

.experience .timeline .timeline-text h2 {
  margin: 0 0 5px 0;
  font-size: 22px;
  font-weight: 600;
}

.experience .timeline .timeline-text h4 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

.experience .timeline .timeline-text p {
  margin: 0;
  font-size: 16px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Skills */
.skill-image {
  margin-top: 4rem;
  width: 60%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills {
  display: flex;
}
